body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    }
    .header {
    background-color: #333;
    color: #0cda38;
    padding: 10px 0;
    text-align: center;
    }
    .nav ul {
      display: inline-block;  
      background-color: #94dcf8; 
      list-style-type: none;
    padding: 0;
    }
    .nav__link {
    color: #333;
    text-decoration: none;
    padding: 10px;
    }
    .nav__link:hover {
    color: #ff0000;
    }
    .nav__link::after {
      content: '➡';
      color: #1707f1;
      }
    .content {
    color: #eb048b;
    padding: 20px 50px;
    }
    .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    }
    .gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
      }
       
      .gallery img {
        width: 100px;
        height: auto;
        cursor: pointer;
        * {
          box-sizing: border-box;
        }
        
        /* Расположите контейнер изображения (необходимо расположить стрелки влево и вправо) */
        .container {
          position: relative;
        }
      }
      .mySlides {
        display: none;
      }
      /* Вперед и предыдущие кнопки */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
/* Позиция "next кнопка" направо */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* При наведении курсора добавьте черный цвет фона с небольшим количеством прозрачного */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}    